/* html,body{
  background:#000;
  margin:0;
}
.centered{
  width:400px;
  height:400px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:#000;
  filter: blur(10px) contrast(20);
}
.blob-1,.blob-2{
  width:70px;
  height:70px;
  position:absolute;
  background:#fff;
  border-radius:50%;
  top:50%;left:50%;
  transform:translate(-50%,-50%);
}
.blob-1{
  left:20%;
  animation:osc-l 2.5s ease infinite;
}
.blob-2{
  left:80%;
  animation:osc-r 2.5s ease infinite;
  background:#0ff;
}
@keyframes osc-l{
  0%{left:20%;}
  50%{left:50%;}
  100%{left:20%;}
}
@keyframes osc-r{
  0%{left:80%;}
  50%{left:50%;}
  100%{left:80%;}
} */

* {
  margin: 0;
  padding: 0;
}
#navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 35vw;
}
#navBar a {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(255, 255, 255);
  font-family: "Mingzat", sans-serif;
  font-weight: 300;
  list-style: none;

  text-transform: none;
  text-decoration: none;
}
body {
  background-image: url(https://images.unsplash.com/photo-1604079628040-94301bb21b91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

#about {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1604076850742-4c7221f3101b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  line-height: 45px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  scroll-snap-stop: always;
}
html {
  scroll-behavior: smooth;
}
#skills {
  height: 100vh;
  /* background: linear-gradient(
    to bottom,
    rgb(146, 146, 255) 0%,
    rgb(146, 146, 255) 40%,
    rgb(134, 255, 158) 40%,
    rgb(134, 255, 158) 40%
  ); */

  scroll-snap-stop: always;
}
#projects {
  height: 100vh;
  /* background: linear-gradient(
    to bottom,
    rgb(134, 255, 158) 0%,
    rgb(134, 255, 158) 50%,
    rgb(255, 202, 146) 50%,
    rgb(255, 202, 146) 50%
  ); */
  scroll-snap-stop: always;
  display: flex;
}
#contact {
  height: 100vh;
  /* background: linear-gradient(
    to bottom,
    rgb(255, 202, 146) 0%,
    rgb(255, 202, 146) 50%,
    rgb(255, 142, 213) 50%,
    rgb(255, 142, 213) 50%
  ); */
  scroll-snap-stop: always;
}
#title {
  padding-top: 20%;
  padding-left: 20%;
}
.ml2 {
  font-size: 24px;
  color: white;
  font-family: "Mingzat", sans-serif;
  padding-right: 80px;
}
.ml3 {
  font-family: "Mingzat", sans-serif;
  color: white;
  padding-right: 80px;

  font-size: 24px;
}
.ml4 {
  font-family: "Mingzat", sans-serif;
  font-size: 24px;
  color: white;
  padding-right: 80px;
}
.ml5 {
  font-family: "Mingzat", sans-serif;
  color: white;
  padding-right: 80px;

  font-size: 24px;
}

#rightSide {
  float: right;
  padding-right: 60px;
  padding-top: 180px;
}

#rightSide1 {
  float: right;
}

#rightSide2 {
  display: flex;
}

#rightSide3 {
  float: right;
}
.box {
  padding: 70px;
  background-color: white;
  margin: 40px;
  height: 150px;
  width: 150px;
  background-position: center center;
  display: flex;
  background-image: url(calc.png);
  background-size: cover;
}
.box1 {
  padding: 70px;
  background-color: white;
  margin: 40px;
  height: 150px;
  width: 150px;
  background-position: center center;
  display: flex;
  background-image: url(ttgroup.png);
  background-size: cover;
}
.box2 {
  padding: 70px;
  background-color: white;
  margin: 40px;
  height: 150px;
  width: 150px;
  background-position: center center;
  display: flex;
  background-image: url(game.png);
  background-size: cover;
  margin-right: 200px;
}
#logo {
  color: black;
}
li {
  list-style: none;
  padding-top: 30px;
}

#aboutTag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 0.1em;
  background-color: rgb(255, 105, 163);
  opacity: 0;
  transition: opacity 250ms, transform 250ms;
}

#aboutTag:hover::after,
#aboutTag:focus::after {
  opacity: 1;
  transform: translate3d(154%, 0.1em, 0);
}

#skillTag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65px;
  height: 0.1em;
  background-color: rgb(255, 105, 163);
  opacity: 0;
  transition: opacity 250ms, transform 250ms;
}

#skillTag:hover::after,
#skillTag:focus::after {
  opacity: 1;
  transform: translate3d(340%, 0.1em, 0);
}
#projectsTag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 0.1em;
  background-color: rgb(255, 105, 163);
  opacity: 0;
  transition: opacity 250ms, transform 250ms;
}

#projectsTag:hover::after,
#projectsTag:focus::after {
  opacity: 1;
  transform: translate3d(420%, 0.1em, 0);
}

#contactTag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 0.1em;
  background-color: rgb(255, 105, 163);
  opacity: 0;
  transition: opacity 250ms, transform 250ms;
}

#contactTag:hover::after,
#contactTag:focus::after {
  opacity: 1;
  transform: translate3d(585%, 0.1em, 0);
}

li:nth-child(2) a::after {
  opacity: 1;
  transform: translate3d(-4%, 0, 0);
}

li:nth-child(2) a:hover::after,
li:nth-child(2) a:focus::after {
  transform: translate3d(0, 0, 0);
}
h2 {
  font-size: 170px;
  /* position: relative; */
  font-weight: bold;
  font-family: "Anton", sans-serif;
  color: #fff;
  letter-spacing: 2px;
  /* padding-top: 50%; */
  margin-left: 50px;
  /* display: block; */
  vertical-align: middle;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
    0 0 5px rgba(136, 136, 136, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
h6 {
  font-size: 100px;
  /* position: relative; */
  font-weight: bold;
  font-family: "Anton", sans-serif;
  color: #fff;
  letter-spacing: 2px;
  padding-top: 220px;
  padding-left: 30px;
  cursor: pointer;
}

.meter {
  height: 10px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
  width: 50%;
  margin-bottom: 50px;
  margin-right: 180px;
  float: right;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both;
}
.progress1 {
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both;
}
.progress2 {
  animation: progressBar 2s ease-in-out;
  animation-fill-mode: both;
}
#jsProgress {
  background-color: #ce373a;
}
#cssProgress {
  background-color: #ce373a;
}
#htmlProgress {
  background-color: #ce373a;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
}
.skillsss {
  margin-left: 40%;
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 30px;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
    0 0 5px rgba(136, 136, 136, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}
.slide-right {
  width: 100%;
  overflow: hidden;
  margin-left: 0px;
  max-width: 800px;
}

.slide-right h2 {
  animation: 0.8s slide-right 0s forwards;
  transform: translateX(-100%);
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}
.slide-right1 {
  overflow: hidden;
  margin-left: 1px;
  max-width: 900px;
}

.slide-right1 h2 {
  animation: 0.8s slide-right 0s forwards;
  transform: translateX(-100%);
}

@keyframes slide-right {
  to {
    transform: translateX(200%);
  }
}
.slide-right2 {
  width: 100%;
  overflow: hidden;
  margin-left: 50px;
  max-width: 800px;
}

.slide-right2 h2 {
  animation: 0.8s slide-right 0s forwards;
  transform: translateX(-100%);
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}
.contactLinks {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(180, 2%, 34%), 0 4px 0 hsl(174, 5%, 66%),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
  display: block;
  margin-left: 120px;
  padding-bottom: 20px;
  margin-top: 10px;
}
.contactLinks:hover {
  font-size: 32px;
}
